<div class="container" style="margin-top: 20px;">
  <div class="container mt-5 mb-2">  
    <div class="btn-group float-end">
      <%= link_to "My Classes", my_classes_path, class:"btn btn-outline-secondary" %>
      <%= link_to "New Class", new_gfc_path, class:"btn btn-outline-primary" %>
    </div>
    <p class="h1">Group Fitness Classes</p>
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar" id="gfcs">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Class Format</th>
        <th scope="col">Video Background</th>
        <th scope="col">Created By</th>
        <th scope="col">Creation Date</th>
      </tr>
    </thead>
    <tbody>
      <% @gfcs.each do |gfc| %>
      <tr>
        <th scope="row"><%= link_to gfc.title, gfc %></th>
        <td><%= gfc.class_type.title %></td>
        <td><%= gfc.class_type.video.name %></td>
        <td><%= link_to gfc.user.full_name, user_path(gfc.user) %></td>
        <td><%= gfc.created_at.strftime("%Y-%m-%d") %></td>
      <% end %>
    </tbody>
    </table>
  </div>

</div>
