<div class="container">
  <%= render @gfc %>
  <% @workout_blocks.each do |workout_block| %>
    <%= render 'workout_blocks/workout_block', gfc: @gfc, workout_block: workout_block %>
  <% end %>
  <%= render 'workout_blocks/form', gfc: @gfc %>
</div>
  <div>
  <br>
    <%= link_to "Edit this class", edit_gfc_path(@gfc), class:"btn btn-secondary"%>
    <%= link_to "Back to all classes", gfcs_path, class:"btn btn-secondary"%>
    <br><br>
    <%= button_to "Send to Display", send_to_display_gfc_path(@gfc), class:"btn btn-primary", method: :post %>
  <br>
    <%= button_to "Delete this class", @gfc, class:"btn btn-danger", method: :delete %>
  </div>
</div>