      <div class="whole-wall-grid">
        <!-- Blank space on the left -->
        <div class="meta-title left-meta">
          <div class="title-grid left-title"><%= @studio.class_type.title %></div>
          <div class="instructor-grid left-title"><%= @studio.user.full_name %></div>
          <%= image_tag("PNG/1600w/White-Triangle-Outline-Alter Brandmark-1600px-RGB.png", class: "triangle-logo left-title") %>
        </div>
        <!-- This is the left information block -->
        <div class="workout-block">
          <div class="block-title-grid">
            <div class="block-title">
              <span class="block-title-span"
                ><%= @studio.workout_blocks.first.name %></span
              >
            </div>
          </div>
          <div class="workout-sub-block">
            <div class="workouts-column">
              <ul class="first-half-list">
                <%= @studio.workout_blocks.first.body %>
              </ul>
            </div>
            <div></div>
            <div class="workouts-column">
              <ul class="second-half-list">
                <%= @studio.workout_blocks.second.body %>
              </ul>
            </div>
          </div>
         
          <div class="additional-workouts-block">
            <div class="tabata-cross">
              <span class="tabata-title">Tabata 1</span>
              <div class="tabata-workout-grid">
                <%= @studio.workout_blocks.third.body %>
              </div>
            </div>
            <div></div>
            <div class="tabata-cross">
              <span class="tabata-title">Tabata 2</span>
              <div class="tabata-workout-grid">
                <%= @studio.workout_blocks.fourth.body %>
              </div>
            </div>
            <div></div>
            <div class="tabata-cross">
              <span class="tabata-title">Tabata 3</span>
              <div class="tabata-workout-grid">
                <%= @studio.workout_blocks.fifth.body %>
              </div>
            </div>
        </div>
        </div>
        <!-- This is the center title section of the screen -->
        <div class="border"></div>
        <!-- This is the right information block -->
        <div class="workout-block">
          <div class="block-title-grid">
            <div class="block-title">
              <span class="block-title-span"
                ><%= @studio.workout_blocks.first.name %></span
              >
            </div>
          </div>
          <div class="workout-sub-block">
            <div class="workouts-column">
              <ul class="first-half-list">
                <%= @studio.workout_blocks.first.body %>
              </ul>
            </div>
            <div></div>
            <div class="workouts-column">
              <ul class="second-half-list">
                <%= @studio.workout_blocks.second.body %>
              </ul>
            </div>
          </div>
         
          <div class="additional-workouts-block">
            <div class="tabata-cross">
              <span class="tabata-title">Tabata 1</span>
              <div class="tabata-workout-grid">
                <%= @studio.workout_blocks.third.body %>
              </div>
            </div>
            <div></div>
            <div class="tabata-cross">
              <span class="tabata-title">Tabata 2</span>
              <div class="tabata-workout-grid">
                <%= @studio.workout_blocks.fourth.body %>
              </div>
            </div>
            <div></div>
            <div class="tabata-cross">
              <span class="tabata-title">Tabata 3</span>
              <div class="tabata-workout-grid">
                <%= @studio.workout_blocks.fifth.body %>
              </div>
            </div>
        </div>
        </div>
        <!-- Blank space on the right -->
        <div class="meta-title right-meta">
          <div class="title-grid right-title"><%= @studio.class_type.title %></div>
          <div class="instructor-grid right-title"><%= @studio.user.full_name %></div>
          <%= image_tag("PNG/1600w/White-Triangle-Outline-Alter Brandmark-1600px-RGB.png", class: "triangle-logo right-title") %>
        </div>
      </div>