      <div class="whole-wall-grid">
        <!-- Blank space on the left -->
        <div class="meta-title left-meta">
          <div class="title-grid left-title"><%= @studio.class_type.title %></div>
          <div class="instructor-grid left-title">
            <span style="text-transform: uppercase;"><%= @studio.user.full_name %></span>
            <% if @studio.user.social_handle != nil %>
              <span style="font-size: 70px; display:block;">@<%= @studio.user.social_handle %></span>
            <% end %>
          </div>
          <%= image_tag("PNG/1600w/White-Triangle-Outline-Alter Brandmark-1600px-RGB.png", class: "triangle-logo left-title") %>
        </div>
        <!-- This is the left information block -->
        <div class="workout-block">
          <div class="block-title-grid">
            <div class="block-title">
              <span class="block-title-span"
                >Flow 1</span
              >
            </div>
            <div></div>
            <div class="block-title">
              <span class="block-title-span"
                >Flow 2</span
              >
            </div>
          </div>
          <div class="workout-sub-block">
            <div class="workouts-column">
              <ul>
                <%= @studio.workout_blocks.first.body %>
              </ul>
            </div>
            <div></div>
            <div class="workouts-column">
              <ul>
                <%= @studio.workout_blocks.second.body %>
              </ul>
            </div>
          </div>
        </div>
        <!-- This is the center title section of the screen -->
        <div class="border"></div>
        <!-- This is the right information block -->
        <div class="workout-block">
          <div class="block-title-grid">
            <div class="block-title">
              <span class="block-title-span"
                >Flow 1</span
              >
            </div>
            <div></div>
            <div class="block-title">
              <span class="block-title-span"
                >Flow 2</span
              >
            </div>
          </div>
          <div class="workout-sub-block">
            <div class="workouts-column">
              <ul>
                <%= @studio.workout_blocks.first.body %>
              </ul>
            </div>
            <div></div>
            <div class="workouts-column">
              <ul>
                <%= @studio.workout_blocks.second.body %>
              </ul>
            </div>
          </div>
        </div>
        <!-- Blank space on the right -->
        <div class="meta-title right-meta">
          <div class="title-grid right-title"><%= @studio.class_type.title %></div>
          <div class="instructor-grid right-title">
            <span style="text-transform: uppercase;"><%= @studio.user.full_name %></span>
            <% if @studio.user.social_handle != nil %>
              <span style="font-size: 70px; display:block;">@<%= @studio.user.social_handle %></span>
            <% end %>
          </div>
         <%= image_tag("PNG/1600w/White-Triangle-Outline-Alter Brandmark-1600px-RGB.png", class: "triangle-logo right-title") %>
        </div>
      </div>